	
	 <!-- Ignoring the separate search and ask approach for now

	 <div class="row-fluid">  
	   <div class="span2">  
	     <div class="input-append">
	       <input class="Ask" id="appendedInputButton" type="text" placeholder="Ask a question">
	       <button class="btn" type="button">Ask</button>
	     </div>  
	   </div>  
	   <div class="span2 offset2">   
	     <div class="input-append" pull right>
	       <input class="Search" id="appendedInputButton" type="text" placeholder="Search">
	       <button class="btn" type="button">Go</button>
	     </div> 
	   </div>  
	  </div>
-->




	 <% if signed_in? %>
	    <div class="row">
	      <aside class="span4">
	        <section>
	          <%= render 'shared/user_info' %>
	        </section>
	        <section>
	          <%= render 'shared/stats' %>
	        </section>
	      </aside>

	      <aside class="span4">
	      <div class="span4">
	            <%= render 'shared/user_quiz_info' %>
	      </div>

	      </aside>
	      <aside class="span3">
	      <div class="span3">
	            <%= render 'shared/post_form' %>
	      </div>
	      
	      </aside>

		    </div>  
		  <h3> Posts </h3>
		  <div class="row">	
		  		<div class="span8">
		  	  <%= render 'shared/feed' %>
		  	  </div>
		  </div>
		<% else %>



	  <!--  Carousel - consult the Twitter Bootstrap docs at
	    http://twitter.github.com/bootstrap/javascript.html#carousel -->
	    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
	      <div class="carousel-inner">
	        <div class="item active"><!-- class of active since it's the first item -->
	          <!--<img src="http://placehold.it/1300x500" alt="" />-->
	          <img alt="" src="/assets/1_hair.jpg" /> 
	          <div class="carousel-caption">
	            <p>Caption text here</p>
	          </div>
	        </div>
	        <div class="item">
	          
	          <img alt="" src="/assets/2_massage.jpg" /> 
	          <div class="carousel-caption">
	            <p>Caption text here</p>
	          </div>
	        </div>
	        <div class="item">
	          <img alt="" src="/assets/3_girls.jpg" /> 
	          <div class="carousel-caption">
	            <p>Caption text here</p>
	          </div>
	        </div>
	        <div class="item">
	          <img alt="" src="/assets/4_flowers.jpg" /> 
	          <div class="carousel-caption">
	            <p>Caption text here</p>
	            </div>
	        </div>
	        <div class="item">
	          <img alt="" src="/assets/5_girl.jpg" /> 
	          <div class="carousel-caption">
	            <p>Caption text here</p>
	            </div>
	        </div>
	      </div><!-- /.carousel-inner -->
	    <!--  Next and Previous controls below
	    href values must reference the id for this carousel -->
	    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	  </div><!-- /.carousel -->
	<% end %>


